{% extends "_template.html" %}

{% block title %}
	Question of the Day
{% endblock title %}

{% block content %}
	<h1>Answers for 2021-03-04</h1>
    <img src="20210305.png">
    <p>Draw the following angles. VE is the height of the pyramid.</p>
    <ol>
        <li><p>Angle between the plane VAB and the plane ABCD.</p>
            <span style="color:red;">Let M be the midpoint of AB. ∠VME. </span></li>
        <li><p>Angle between the plane VAC and the plane ABCD.</p>
            <span style="color:red;">∠VEB or ∠VED = 90°.</span></li>
        <li><p>Angle between the plane VAC and the plane VBC.</p>
            <span style="color:red;">Let X be a point on VC such that AX ⊥ VC and BX ⊥ VC. ∠AXB. </span></li>
    </ol>

{% endblock content %}