{% extends "_template.html" %}

{% block title %}
	Question of the Day
{% endblock title %}

{% block content %}
	<h1>2021-03-04</h1>
    <p>True or False: Determine whether the following statements <strong>must be</strong> true.</p>
    <ol>
        <li>The sum of two sides of a triangle is always larger than the third side.</li>
        <li>The sum of two angles of a triangle is always larger than the third angle.</li>
        <!--<li>If two straight lines do not cross each other, their slopes are the same.</li>
        <li>The product of slopes of two perpendicular straight lines is -1.</li>-->
        <li>If a < 0 < b, then ab < 0.</li>
        <li>If 1/a < 1/b, then ab(a - b) > 0.</li>
    </ol>

	<h1>Answers for 2021-03-03</h1>
    <p>In the following figure, ΔOAB has an area of 16 unit squared.</p>
    <img src="20210303.png">
    <ul>
        <li>Find the value of a.</li>
        <span style="color:red;">
            <p>8*a/2 = 16</p>
            <p>a = 4</p>
        </span>
        <li>L1 is the perpendicular bisector of AB.
            <ul>
                <li>Find the equation of L1.</li>
                <span style="color:red;">
                    <p>Let the midpoint of AB be M. M = (4,2)</p>
                    <p>Slope of AB = -4/8 = -0.5</p>
                    <p>Slope of AB * Slope of perpendicular bisector = -1</p>
                    <p>Slope of perpendicular bisector = 2</p>
                    <p>Let the equation be y = 2x + c</p>
                    <p>Substiute (4,2) into the equation, we have:</p>
                    <p>2 = 2(4) + c</p>
                    <p>c = -6</p>
                    <p>The equation is y = 2x - 6</p>
                </span>
                <li>L1 crosses the x-axis at C and the y-axis at D respectively. Find the ratio of areas ΔOCD:ΔOAD. </li>
                <span style="color:red;">
                    <p>Let the coordinates of C be (p,0), we have:
                    <p>0 = 2p - 6</p>
                    <p>p = 3</p>
                    <p>C = (3,0)</p>
                    <p>Ratio of areas ΔOCD:ΔOAD</p>
                    <p>=OC : OA</p>
                    <p>=3 : 8</p>
                </span>

            </ul>
        </li>
    </ul>

{% endblock content %}