{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>2021-08-21</h1>

    <h3>Question 1</h3>
    <p>The following question concerns about the polymer PET.</p>
    <ol>
        <li>Draw the monomer and repeating unit of PET.</li>
        <p><span style="color:red;">Monomer </span></p>
        <p><img src="20210821_a.png" width="50%"></p>
        <p><span style="color:red;">Repeating unit </span></p>
        <p><img src="20210821_b.png" width="50%"></p>

        <li>Suggest one use of PET.</li>
        <p><span style="color:red;">Food packaging, bottles, etc</span></p>

        <li>Explain whether PET can be used to store drain cleansers.</li>
        <p><span style="color:red;">No, drain cleansers contain concentrated NaOH. </span></p>
        <p><span style="color:red;">PET is a polyester that can react with NaOH by alkaline hydrolysis, which destroy the PET.</span></p>
    </ol>

    <h3>Question 2</h3>
    <p>You are provided with four unlabelled bottles each containing one of the following colourless liquids:</p>
    <p>1-bromobutane butanoic acid cyclohexene propanone</p>
    <p>Outline a scheme of tests to distinguish the four liquids from one another.</p>
    <p><span style="color:red;">Add water to the liquids. Both butanoic acid and propanone can mix with water in all properties.</span></p>
    <p><span style="color:red;">Add a piece of pH paper to the aqueous solutions. Solution of butanoic acid is acidic while that of propanone is not. </span></p>
    <p><span style="color:red;">Add aqueous bromine to the remaining two compounds. Only cyclohexene can decolorize the aqueous bromine quickly. </span></p>
    <p><span style="color:red;">Add silver nitrate solution to the remaining two compounds. Only 1-bromobutane gives a pale yellow precipitate slowly. </span></p>

{% endblock content %}
