{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>2021-07-31 (Answer)</h1>

    <h3>Question 1</h3>
    <p>Fill in the table.</p>
    <img src="20210731_b.png" width="50%">

    <h3>Question 2</h3>
    <p>Comment whether each of the following is true.</p>
    <ol>
        <li>Aqueous chlorine can decolorize acidified potassium permanganate solution.</li>
        <p><span style="color:red;">F: both are oxidizing agents! </span></p>

        <li>A compound cannot be an oxidizing agent and a reducing agent at the same time.</li>
        <p><span style="color:red;">F: disproportionation reaction. </span></p>

        <li>Free electrons can travel through an electrolyte solution.</li>
        <p><span style="color:red;">F: Mobile <b>ions</b> can travel through an electrolyte solution.</span></p>

        <li>Weak oxidizing agents are strong reducing agents.</li>
        <p><span style="color:red;">F: very common wrong concept! Check the ECS again.</span></p>

        <li>Sulfuric acid ionizes completely in water.</li>
        <p><span style="color:red;">F: the second hydrogen atom does not ionize completely.</span></p>

        <li>An acid with a higher basicity is more basic.</li>
        <p><span style="color:red;">F: basicity refers to the number of potentially ionizable hydrogen atoms in a molecule.</span></p>

    </ol>

{% endblock content %}