{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>2021-11-13</h1>

    <h3>Question 1</h3>
    <p>There are two isomers of C<sub>2</sub>H<sub>4</sub>O that is non cyclic.  </p>
    <p>Suggest any chemical test to distinguish them. Explain briefly.</p>

    <h3>Question 2</h3>
    <p>Outline a synthetic route to convert the following:</p>
    <p>a) oct-3-ene -> octane </p>
    <p>b) butan-1-ol -> 1-chlorobutane </p>
    <p>c) 1-bromobutane -> 2-bromobutane </p>
    <p>d) butan-1-ol -> butanone </p>
    <p>e) hexanol -> hexyl hexanoate </p>
    <p>f) methyl ethanoate -> ethyl methanoate </p>

    <h3>Question 3</h3>
    <p>Give any chemical test to distinguish between:</p>
    <p>a) butane and butene. </p>
    <p>b) butane and chlorobutane. </p>
    <p>c) sodium methanoate and potassium methanoate. </p>
    <p>d) methylpropan-2-ol and butan-2-ol. </p>

    <h3>Question 4</h3>
    <p>Explain the difference of boiling points for sodium ethanoate, ethanoic acid and ethane.</p>
    <p>Explain the difference in pH when they are dissolved in water.</p>
{% endblock content %}
