{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>2021-10-23</h1>

    <h3>Question 1</h3>
    <p>Ammonia can be produced by a process called the Haber process.</p>
    <p>a) Write down the equation of Haber process. Specify any condition needed.</p>
    <p>b) The graph below shows the amounts of nitrogen and hydrogen at different times, </p>
    <p>after mixing 1 mole each of the two gases in the container, until equilibrium has been reached. </p>
    <img src="20211023_a.png" width="55%">
    <p>Given that K<sub>c</sub> = 0.625 M<sup>2</sup>, calculate the volume of the container. </p>

{% endblock content %}
