{% extends "_template.html" %}

{% block title %}
	Question of the Day
{% endblock title %}

{% block content %}
	<h1>Answers for 2021-03-02</h1>
    <h2>Fill in the blanks with the correct tenses.</h2>

    <ul>
        <li><p>People __________ (suffer) from chronic illnesses should pay more attention to their health.</p>
            <p>People <strong style="color:red;">suffering</strong> from chronic illnesses should pay more attention to their health.</p></li>
        <li><p>They should seek medical attention if _________ (feel) unwell.</p>
            <p>They should seek medical attention if <strong style="color:red;">feeling</strong> unwell.</p></li>
        <li><p>Seasonal influenza __________ (be) a common respiratory tract infection __________ (cause) by human seasonal influenza viruses.</p>
            <p>Seasonal influenza <strong style="color:red;">is</strong> a common respiratory tract infection <strong style="color:red;">caused</strong> by human seasonal influenza viruses.</p></li>
    </ul>

{% endblock content %}