{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>2021-08-07</h1>

    <h3>Question 1</h3>
    <p>Fill in the table.</p>
    <img src="20210807_a.png" width="50%">

    <h3>Question 2</h3>
    <p>Which of the following compounds have optical isomers which rotate plane-polarized light in opposite directions?</p>
    <ol>
        <li>dichloromethane</li>
        <li>3-methylhexane</li>
        <li>2-bromopentane</li>
        <li>2-methylbutanal</li>
        <li>3-methylpent-1-ene</li>
        <li>hexane-1,6-diamine</li>
    </ol>

    <h3>Question 3</h3>
    <p>Draw all possible isomers of methylcyclopropane that decolorize bromine water.</p>

{% endblock content %}
