{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>2021-09-18</h1>

    <h3>Question 1</h3>
    <img src="20210918_a.png" width="55%">

    <h3>Question 2</h3>
    <p>Comment whether each of the following is true.</p>
    <ol>
        <li>For a zero order reaction, plotting the rate of reaction against the concentration of reactant gives a straight line passing through the origin.</li>
        <li>The concentration-time graph of a first order reaction is a declining straight line.</li>
        <li>The rate equation for a reaction can be predicted from its balanced equation.</li>
    </ol>

{% endblock content %}
