{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>2021-09-04 (Answers)</h1>

    <h3>Question 1</h3>
    <p>Fill in the blanks to complete the synthetic routes. </p>
    <img src="20210904_b.png" width="55%">

    <h3>Question 2</h3>
    <p>Outline a synthetic route, in NOT MORE THAN FOUR STEPS, to accomplish each of the following conversions.</p>
    <p> For each step, give the reagent(s), the conditions and the structure of the product.</p>
    <img src="20210904_d.png" width="55%">

{% endblock content %}
