{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>2021-11-13</h1>

    <h3>Question 1</h3>
    <p>Outline a synthetic route to convert the following:</p>
    <p>a) oct-3-ene -> octane </p>
    <p>b) 1-bromobutane -> 2-bromobutane </p>
    <p>c) hexanol -> hexanoic hexanoate </p>

    <h3>Question 2</h3>
    <p>Give any chemical test to distinguish between:</p>
    <p>a) butane and butene. </p>
    <p>b) butane and chlorobutane. </p>
    <p>c) sodium methanoate and potassium methanoate. </p>
    <p>d) methylpropan-2-ol and butan-2-ol. </p>

    <h3>Question 3</h3>
    <p>Explain the difference of boiling points for sodium ethanoate and ethanoic acid.</p>

{% endblock content %}
