{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>2021-08-14</h1>
    <h3>Question 1</h3>
    <p>Fill in the table.</p>
    <img src="20210814_b.png" width="50%">

    <h3>Question 2</h3>
    <p>Which of the following compounds have optical isomers which rotate plane-polarized light in opposite directions?</p>
    <p><span style="color:red;">2,3,4,5</span></p>

    <h3>Question 3</h3>
    <p>Draw all possible isomers of methylcyclopropane that decolorize bromine water.</p>
    <img src="20210814_c.png" width="50%">

{% endblock content %}
