{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>Cis-trans isomers</h1>
    <img src="cistrans.png" width="50%">

	<h3>Definition</h3>
	<p>Cis-trans isomer are pairs of different molecules which have the same formula,</p>
	<p>but the rotation of bonds is restricted due to a <b>double bond</b> or a ring structure.</p>

	<h2>Notes</h2>
	<h3>Trans isomers, higher melting point than, cis isomers</h3>
	<p>Molecule of the trans isomer has a <b>more regular and symmetrical structure</b> than molecule of the cis isomer.</p>
	<p>Molecules of the trans isomer can <b>pack more compactly</b> in the solid. More heat is required to overcome the intermolecular forces between the molecules.</p>
	<p>Hence the trans isomer has a <b>higher melting point</b> than the cis isomer.</p>

{% endblock content %}