{% extends "_template.html" %}

{% block title %}
	F5 Chemistry
{% endblock title %}

{% block content %}
	<h1>Chemical test: alkenes</h1>
    <img src="test_alkenes.png" width="50%">
	<h2>Notes</h2>
	<p>Bromine or potassium permaganate can be decolorized by organic compounds containing C=C double bond.</p>
	<p>Example:</p>
	<ol>
		<li><span style="color:green;">✔ Ethene</span></li>
		<li><span style="color:green;">✔ Cyclohexene.</span></li>
		<li><span style="color:red;">✘ Heptane. (No observable change)</span></li>
    </ol>
	<p>The reaction is an addition reaction.</p>

{% endblock content %}