<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="main.js"></script>
	<title>Tutorial - {% block title %}{% endblock title %}</title>
	{% block head %}{% endblock head %}
</head>
<body>
	<header>
		Li Lok Hang's Tutorial Site
	</header>
	<div class='topnav'>
		{% macro menuitem(name, url) %}
			{% if page == name %}
				<span>
					<a class='active' href="{{url|safe}}">
			{% else %}
				<span>
					<a href="{{url|safe}}">
			{% endif %}
			{{ caller() }}
				</a>
			</span>
		{% endmacro %}
		{% call menuitem('news', 'index.html') %}
			Homepage
		{% endcall %}
<!--		{% call menuitem('maths', 'maths.html') %}-->
<!--			Mathematics-->
<!--		{% endcall %}-->
		{% call menuitem('vocab', 'vocab.html') %}
			Vocabulary
		{% endcall %}
<!--		{% call menuitem('tutorial', 'tutorial.html') %}-->
<!--			Tutorial-->
<!--		{% endcall %}-->
	</div>
	<main>
		{% block content %}{% endblock content %}
	</main>
	<footer>
		<p>&#xA9; Made by Li Lok Hang. All Rights Reserved.</p>
	</footer>
</body>
</html>