{% extends "_template.html" %}
{% set page = "chemistry" %}

{% block title %}
	Homepage
{% endblock title %}

{% block content %}
	<h1>Chemistry</h1>
	<h2>Worksheet</h2>
	<ul>
		<li><a href="20210731.html">2021-07-31: Redox: Electrolysis II</a> (<a href="20210731ans.html">Answer</a>)</li>
		<li><a href="20210724.html">2021-07-24: Redox: Electrolysis</a> (<a href="20210724ans.html">Answer</a>)</li>
	</ul>

	<h2>Notes</h2>
	<ul>
		<li><a href="2_sol.html">2 Acid & Bases: Solubility of substances</a></li>
		<li><a href="2_titration.html">2 Acid & Bases: Titration</a></li>
		<li><a href="3B_oxidnum.html">3B Redox: How to calculate oxidation number</a></li>
	</ul>
{% endblock content %}