{% extends "_template.html" %}
{% set page = "tutorial" %}

{% block title %}
	課堂工作紙 Tutorial Worksheets
{% endblock title %}

{% block content %}
	<p>補充內容 Supplementary Information:</p>
	<ul>
		<a href="https://docs.google.com/document/d/1C6TS9KnbGMpVaPxGSbPU3m7LsT17w4Nm/">中文：文言文常見虛詞表</a>
	</ul>

	<p>課堂工作紙 Tutorial Worksheets:</p>
	<ul>
		<li>2020-12-05: <a href="https://docs.google.com/document/d/1YUhmxqBQoC-pnQzZOeAFZSMRpN8fkApg/">Maths: Exercise II (3D Objects and Quadrilaterals) </a> (<a href="https://docs.google.com/document/d/1W9AKIlLW6DyYPfc2yJv-nxUTEuldcWH0/">Answers</a>) </li>
		<li>2020-11-28: <a href="https://docs.google.com/document/d/1NpUTa_-LuD0CB2P7XJvRgcFm8vXwBaw9/">English: Proofreading I </a> (<a href="https://docs.google.com/document/d/1hatYN0OboAHU0erMugaUAXX_6LFXvfHc">Answers</a>)</li>
		<li>2020-11-21: <a href="https://docs.google.com/document/d/1Fyuvhx5vaeNcQmKSm_Qu7lV7R0Ysdqvz/">English: Reading Comprehension I, Maths: Exercise I (Centers of Triangles and Quadrilaterals) </a></li>
	</ul>
{% endblock content %}

