{% extends "_template.html" %}
{% set page = "tutorial" %}

{% block title %}
	課堂工作紙 Tutorial Worksheets
{% endblock title %}

{% block content %}
	<p>課堂工作紙 Tutorial Worksheets:</p>
	<ul>
		<li>2020-11-28: <a href="https://docs.google.com/document/d/1NpUTa_-LuD0CB2P7XJvRgcFm8vXwBaw9/">English: Proofreading I </a> (<a href="https://docs.google.com/document/d/1hatYN0OboAHU0erMugaUAXX_6LFXvfHc">Answers</a>)</li>
		<li>2020-11-21: <a href="https://docs.google.com/document/d/1Fyuvhx5vaeNcQmKSm_Qu7lV7R0Ysdqvz/">English: Reading Comprehension I, Maths: Exercise I (Centers of Triangles and Quadrilaterals) </a></li>
	</ul>
{% endblock content %}

