{% extends "_template.html" %}
{% set page = "vocab" %}

{% block title %}
	English Learning
{% endblock title %}

{% block content %}
	<p>英文電影或劇集 English Movies & Dramas: </p>
	<ul>
		<li><a href="https://gimy.co/vod/46745.html"> 切爾諾貝爾 Chernobyl: A historical drama that describes the Chernobyl disaster in 1986, the worst nuclear disaster in history of humankind. </a></li>
	</ul>
	<p>英文生字表 Vocabulary Tables:</p>
	<ul>
		<li><a href="https://docs.google.com/document/d/17dxNFFj95Ge4cuJrLCZKbFuLDsslvEXUWqcRiAvJSEE/"> 健康 Health </a></li>
		<li><a href="https://docs.google.com/document/d/1zEX4epMI1vw3xXI3KKQbZy1llNqzxbnMJYyz2lK_81U/"> 政治 Politics </a></li>
	</ul>
{% endblock content %}

